link(rel='stylesheet', href='#{cdnServer}/creative/css/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='#{cdnServer}/creative/font-awesome/css/font-awesome.min.css', type='text/css')
link(rel='stylesheet', href='#{cdnServer}/creative/css/animate.min.css', type='text/css')
link(rel='stylesheet', href='#{cdnServer}/css/wotcity.css#{cacheBreaker}', type='text/css')
link(rel='stylesheet', href='#{cdnServer}/css/flat-ui.css?20150819', type='text/css')

// SB Admin 2
link(href='#{cdnServer}/css/admin.css#{cacheBreaker}', rel='stylesheet')

// misc
link(href='#{cdnServer}/css/gh-buttons.css', rel='stylesheet')
link(href='#{cdnServer}/css/ghost-button.css', rel='stylesheet')

// overrides
link(rel='stylesheet', href='#{cdnServer}/css/style.css?20150530', type='text/css')
