script(src='#{cdnServer}/creative/js/jquery.js')
script(src='#{cdnServer}/creative/js/bootstrap.min.js')
script(src='#{cdnServer}/vendor/jquery.easing/js/jquery.easing.min.js')
script(src='#{cdnServer}/creative/js/jquery.fittext.js')
script(src='#{cdnServer}/vendor/wow/dist/wow.min.js')
script(src='#{cdnServer}/creative/js/creative.js')